.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
data/*.db
data/grafana/
data/loki/
data/prometheus/
data/tempo/
dist/
build/
htmlcov/
*.log
Masterclass_Monitoring_Observabilite.pptx
Masterclass_Monitoring_Observability_EN.pptx